// Colors
$black: #000000;
$white: #ffffff;
$palette-yellow: #e1cc26;
$navbar-dark-blue: #042852;
$navbar-light-grey: #F2F2F2;
$background-off-white: #f3f3f3;

// Screen width break points
$break-point-smobile: 320px;
$break-point-medium-mobile: 400px;
$break-point-mobile: 480px;
$break-point-tablet: 768px;
$break-point-large-tablet: 890px;
$break-point-desktop: 1076px;
$break-point-large: 1500px;

// Fonts
$font-family-base: 'Montserrat', sans-serif;
$font-family-logo: 'Lobster', cursive;